[2015-07-29 11:46] jf--- opened #1 "OCE 0.17 meta-issue"
Today I've been making my first getting more familiar with the SWIG generator.
I've ran the generator over the OCE 0.17 release.
Such to index, what issues we'll have to overcome before generating bindings for OCE 0.17
This led to identifying five issues: #2 , #3 , #4 , #5

By looking into make's build targets, I've done something like:

[code]

to build all targets, even though some modules obvio

[2015-07-29 11:58] jf--- opened #2 "OCE 0.17 XSControl.i missing"
Unable to find 'XSControl.i'

affected modules: _Select3D.so, _SelectBasics.so, IGESControl, STEPControl

[2015-07-29 12:00] jf--- opened #3 "OCE 0.17 methods that end on "_ShallowCopy" have undefined symbols"
modules affected: _Visual3d.so, _Graphic3d.so, IFSelect.so, _TShort.so, _TColGeom.so, _TColGeom2d.so, _TColgp.so, _ProjLib.so, _ChFiDS.so, _Interface.so, _GeomPlate.so, _Units.so, _Geom.so, _TColStd.so, _Contap.so, _GeomFill.so, _Storage.so, _Interface.so

[2015-07-29 12:01] jf--- opened #4 "OCE 0.17 wrapping Handle_TColStd_ListNodeOfListOfReal"
affected module: _XCAFPrs

[2015-07-29 12:01] jf--- opened #5 "OCE 0.17 forward declaration of 'BRepAdaptor_Surface'"
affected modules: _BRepClass3d.so, BRepApprox.so
possible: _ChFi3d

[2015-07-29 12:38] jf--- opened #6 "OCE 0.17 error: use of undeclared identifier"

[2015-07-29 12:40] jf--- opened #7 "OCE 0.17 undefined symbol: Geom2dGcc_FunctionTanCuCuCu"
Scanning dependencies of target _Geom2dGcc
Building CXX object CMakeFiles/_Geom2dGcc.dir/Darwin/x86_64-MinSizeRel-64/Geom2dGccPYTHON_wrap.cxx.o
Linking CXX shared module Darwin/x86_64-MinSizeRel-64/_Geom2dGcc.so
Undefined symbols for architecture x86_64:
  "Geom2dGcc_FunctionTanCuCuCu::Geom2dGcc_FunctionTanCuCuCu(Geom2dAdaptor_Curve const&, gp_Pnt2d const&, gp_Pnt2d const&)", referenced from:

[2015-07-30 05:55] jf--- opened #8 "travis support"
### get support going for travis

* git clone OCE sources ( when headers got changed, point to the git branch )
* or install OCE and ( no header changes )
* git clone pythonocc
* run generator
* build pythonocc from the newly generated SWIG files
* run pythonocc test suite

[2015-07-30 06:02] jf--- opened #9 "multiprocessing support"
multiprocessing.Pool would helps to speed up generating the SWIG files linearly

[2015-07-30 06:17] jf--- opened #10 "optionally capture stdout & stderr during wrapper generation / module compilation"
erros are than caught in context of the pythonocc module they're related to.
otherwise, you need to capture stderr by copy/pasting from the terminal, which isnt particularly ergonomics.

possible even more important is capturing stderr from building pythonocc, after new SWIG wrappers have been generated. possible something amongs these lines:

* generate make files
* check the build targets, anyth

[2015-07-30 07:57] jf--- commented on #9
speed up is pretty much linear

[2015-07-30 08:05] tpaviot commented on #9
The previous generator, based on gccxml, was very long to achieve the generation of swig files (more than one hour AFAIR). Multiprocessing was really useful to speed up generation. Since the move to CppHeaderParser, it's much quicker, around 5mn on a single core usual machine. I did not port the multiprocessing feature because it makes the debugging task a bit more difficult since log messages are

[2015-07-30 08:21] jf--- commented on #9
I'm not advocating for it to run in parallel by default, its makes tracing much more difficult and renders the stdout / stderr output pretty useless. Nice to have though

[2015-07-30 08:27] tpaviot commented on #2
Be sure XSControl.i was generated and is in the right directory.

[2015-07-30 08:28] tpaviot commented on #3
Please paste here the complete compiler trace, it's necessary to decide what to do (fix the wrapper, or remove the related method from the list of wrapped method).

[2015-07-30 08:29] tpaviot commented on #4
Please paste the complete compiler trace.

[2015-07-30 08:29] tpaviot commented on #5
Please paste the complete compiler trace.

[2015-07-30 08:30] tpaviot commented on #6
Please provide a description for this issue.

[2015-07-30 08:34] tpaviot commented on #7
Remove this class from the wrapper. To remove the class, add its name to the list of excluded class from the Geom2dGcc module. In Modules.py:
<pre>
('Geom2dGcc', [], ['Geom2dGcc_FuncTCuCuCuOfMyC2d3Tan', 'Geom2dGcc_FunctionTanCuCuCu'],
            {'Geom2dGcc_Lin2dTanObl': 'IsParallel2'}),
</pre>
And relaunch the wrapper generation for the Geom2dGcc module only.

[2015-07-30 08:37] jf--- commented on #4
see #1

[2015-07-30 08:38] jf--- commented on #5
see #1

[2015-07-30 08:38] jf--- commented on #3
see #1

[2015-07-30 08:43] jf--- commented on #5
same thing, in another module:

[  9%] Building CXX object CMakeFiles/_BRepApprox.dir/Darwin/x86_64-MinSizeRel-64/BRepApproxPYTHON_wrap.cxx.o
In file included from /Users/jelleferinga/GIT/pythonocc-core-occ-690/build/Darwin/x86_64-MinSizeRel-64/BRepApproxPYTHON_wrap.cxx:3915:
In file included from /Users/jelleferinga/miniconda/envs/oce_0.17/include/oce/BRepApprox_SurfaceTool.hxx:149:
/Users/jellef

[2015-07-30 08:45] jf--- commented on #2
ran `find . -name "XSControl.i"` to find the file, but no result...

[2015-08-12 09:28] #9 closed

[2015-08-12 09:39] #10 closed

[2015-09-08 13:09] sven-hm opened #13 "running generate_wrapper.py on OCE-0.16.1"
Hi, I'm trying to understand the pythonocc-generator and I ran it's release 0.2 on the OCE release 0.16.1 and had some problems with it:

1. I noticed that XSControl.i is missing (It may relate to issue OCE 0.17 XSControl.i missing #2 ?).

2. I replaced the SWIG files in pythonocc-core release 0.16.1 and tried to compile, it fails compiling the module `ChFiKPart` from the toolkit `TKFillet`:
[code

[2015-09-09 09:37] sven-q commented on #13
2. Ok, sorry, the first differences were my fault, I took the wrong pythonocc release, now with 0.16.2 the `ChFiKPart.i` is the same.
But `ChFiKPart_headers.i` is still produced with a different order of the includes and compiling leads to the same error quoted above (`[...] error: ‘TopOpeBRepDS_DataStructure’ was not declared in this scope [...]`). Here a detaiil from the `git diff`:
[code]
I ran

[2015-09-21 08:57] sven-hm commented on #13
Ok, I could fix the include order using pythons list sort, see [here](https://github.com/sven-hm/pythonocc-generator/tree/sven-hm/fix_include_order).

But I don't understand why you get "well sorted" `*_headers.i` files?

[2015-12-03 09:45] rainman110 opened #14 "Linker errors due to non-exported methods (OCE-0.16.1)"
The bug is decribed here: https://github.com/tpaviot/pythonocc-core/issues/93

[2015-12-09 12:00] #8 closed

[2015-12-09 12:00] #7 closed

[2015-12-09 12:00] #6 closed

[2015-12-09 12:00] #5 closed

[2015-12-09 12:01] #4 closed

[2015-12-09 12:01] #3 closed

[2015-12-09 12:01] #2 closed

[2015-12-09 12:01] #1 closed

[2015-12-09 12:02] jf--- commented on #14
@tpaviot @rainman110
issue can be closed

thanks for the patch!

[2015-12-09 12:27] #14 closed

[2015-12-14 06:31] jf--- opened #17 "generate type hints for python >= 3.5"
[see pep 484](https://www.python.org/dev/peps/pep-0484/#stub-files)

python can accept stub files that describe the type ( in / output ) of a function or method.
this is incredible useful, since IDE's such as pycharm will be able to check ~80/90% of your code, rather than ~40/50% as of today. also, python linters can work with the type checking to test the code for correctness.

It would be great

[2016-01-16 05:37] tpaviot opened #18 "GarbageCollector not imported"
As @rainman110 noticed, the GarbageCollector module is not imported anymore. Thus, object destructor method are never properly called. See https://github.com/tpaviot/pythonocc-core/issues/199

[2016-01-16 05:39] tpaviot commented on #18
It seems this missing import comes from the move from gccxml to cppheaderparser.

I dived into the old pythonocc-2.5 code, it appears that each .i SWIG file imports the GarbageCollector module at the beginning of the file.

[2016-01-30 15:38] jf--- opened #21 "Font_BRepFont class missing"
[code]

though this class is there is [OCE 0.16](https://github.com/tpaviot/oce/blob/master/src/Font/Font_BRepFont.cxx)

 'Font_FTFont.hxx', 'Font_FTLibrary.hxx', are excluded from being parsed when generating the wrapper, this is probably why this is missing?

[WIP branch here](https://github.com/jf---/pythonocc-core/commit/5ae76b0da453446d166c477bb13ba7558c193f24)

[2016-01-30 15:48] jf--- opened #22 "use libclang to parse headers"
CppHeaderParser cannot parse fairly big list of file.
Therefore, it might be worthwhile to consider using [libclang's](http://szelei.me/code-generator/) python bindings as a parser.

[more here](http://eli.thegreenplace.net/2011/07/03/parsing-c-in-python-with-clang)

[2016-01-30 15:50] tpaviot commented on #22
It took me two years to move from gccxml to cppheaderparser. Is it a joke ?

[2016-01-30 15:50] #22 closed

[2016-01-30 16:10] jf--- commented on #22
I dont mean to step on your toes Thomas...

But glancing at the code, __parse_header__ is called in a single place.
If another parser generates the same data ( while using another parser backend ) as the CppHeaderParser.CppHeader method than that's OK, right?

here the code in context:

[code]

Perhaps a bit of background; spend most of the week re-implementing [Font_BRepFont](https://github.com/t

[2016-02-09 16:25] rainman110 commented on #18
@tpaviot This issue is already closed since 0712998fd041944

[2016-02-09 16:27] #18 closed

[2016-10-11 08:55] #13 closed

[2016-10-13 16:00] #21 closed

[2016-10-15 17:20] alynch4047 opened #28 "Automatically downcasting base class pointers with SWIG"
Problem Statement:

When getting the selected objects from the view, they are returned as a list of TopoDS_Shape. However, the objects that are returned are usually actually of a derived class from TopoDS_Shape such as TopoDS_Face or TopoDS_Solid. This is a nuisance when wanting to pass to methods that demand a specific subclass such as BRepTool_Surface which wants a TopDS_Face and not a TopDS_Sha

[2016-10-15 18:38] alynch4047 opened #29 "Make arrays (such as TColgp_Array1OfPnt) support the iterator interface"
It would be nice to be able to iterate over wrapped arrays using normal python idioms. I believe we could achieve this by `%extend%`ing the array classes with 3 extra functions
 `__iter__`,
 `__next__`,
  `next`

(See: http://stackoverflow.com/questions/13094421/what-is-the-interface-for-python-iterators)

This falls into the nice-to-have category, but I think is fairly simple to add to the wrappe

[2016-10-15 21:56] jf--- commented on #29
Wow, that's a very interesting idea @alynch4047 ....

[2016-10-17 16:46] henrybaxter opened #30 "Expose OCCT 7.0.1"
See https://github.com/tpaviot/pythonocc-core/issues/342

I would like to help in this effort as much as possible, but I will need guidance. Is it possible to make any movement on this without OCE supporting 7.0.1?

[2016-10-17 16:56] henrybaxter commented on #30
After reading this https://github.com/tpaviot/oce/pull/589#issuecomment-215865901 I'm even more curious to understand what the 'right' way to approach tracking 7.0.1 with pythonocc would be. @jf--- and @tpaviot would a better approach be to take pythonocc-generator, possibly even start a separate project, and try to work directly with OCCT rather than OCE?

[2016-10-17 17:07] jf--- commented on #30
Hi @henrybaxter ,

So I was just writing a history lesson on OCCT vs OCE, but you got there first ;)

OCCT is in a much better state, especially since 7.0.1.
Also the development culture ( git repo, nr of releases per year, replies on forum ) has changed much for the better. OCE perhaps was a wake-up call / did have a positive effect on how things moved fwd.

So, perhaps it is time to rethink OCE'

[2016-10-17 17:21] henrybaxter commented on #30
@jf--- understood, that all makes good sense. So I think unless @tpaviot has something markedly different to say, I'll

    - make sure I can use pythonocc-generator for the current OCE release (need some learning!)
    - branch and attempt to build the same thing for OCCT 7.0.1 (hopefully contributing!)

Along the way I may find OCE has something OCCT doesn't that makes this a terrible idea, or p

[2016-10-18 06:19] tpaviot commented on #30
OCE and OCCT are  binary compliant, you can switch from one To the other as you want. Pythonocc is not OCE specific fyi I use To run the generator over OCCT. OCCT introduces many important changes, I do not know what changes are required To support it. Feel free to Open a branch and or PR

[2016-10-18 14:04] lalvarezt commented on #17
@jf--- Hi, I've been working on something similar. Check the code here [https://github.com/lalvarezt/pythonocc-generator/commit/cce82eb4b32cb4cb178681cd819e7e0e6311a920](url).

This generates the additional .pyi files that you referred to. It's not complete yet, I need to manage the overload cases, for now it only adds the first occurrence of an overload function. I checked gp and graphic3d module

[2016-10-18 16:34] jf--- commented on #17
oh my @lalvarezt , that's super exciting 🚀

what about the more explicit way as how [mypy](http://mypy.readthedocs.io/en/latest/python2.html) handles type hinting for python 2?

perhaps having inlined type hints is preferable to .pyi files, since its valuable documentation / avoids having yet another file opened in your editor...

[2016-10-18 16:40] lalvarezt commented on #17
@jf--- I've tried that already, the problem I found is that on the .i files you can only affect the GetObject and GetHandle functions, since they are explicitly on the code. Another thing is that swig generates the typing information using the c/c++ type and then writes it on the python generated file. So from what I saw the procedure is the following
-Edit .i
-Compile
-Edit .py to correct the typ

[2016-10-18 22:49] lalvarezt commented on #17
6e7fede28114c466ba5428242cb15ebefd02570d

[2016-10-18 22:54] henrybaxter commented on #30
@tpaviot working from the master branches of `oce`, `pythonocc-core`, and `pythonocc-generator`, I have

- compiled `oce`
- set my `wrapper_generator.conf` appropriately
- run `python generate.py`

and what I notice is that the swig interface files are vastly different

    henry$ git diff --shortstat
    303 files changed, 2256 insertions(+), 29808 deletions(-)

What am I missing?

[2016-10-19 00:14] henrybaxter commented on #30
Regardless, the tests run and everything works 👍  I'm guessing the current pythonocc-core swig files were generated using an older version of `oce`, but it hasn't changed sufficiently to cause problems.

[2016-10-19 05:09] tpaviot commented on #30
@henrybaxter pythonocc-core 0.17 is sync with oce 0.17.2 what does look like?  what is your os ?

[2016-10-19 05:12] tpaviot commented on #30
@henrybaxter according to your os there might be differences in the way python gets the files (for instance the glob modules does not returns files in the same order). As a consequance, the order of hxx files may change, but that's all. FYI I'm on Windows.

[2016-10-19 05:51] jf--- commented on #30
perhaps stating the evident, but would it make sense to sort the output from `glob`?

[2016-10-19 14:18] henrybaxter commented on #30
@tpaviot I believe you're right, I do see reordered includes. However, I also see some other changes (possibly classes are reordered?) so due to my unfamiliarity with the generator code, it's honestly difficult to be certain that's the *only* reason they're different.

If I run https://github.com/tpaviot/pythonocc-core/blob/master/test/run_tests.py successfully (which I did), is this a solid indic

[2016-10-19 16:50] jf--- commented on #30
hi @henrybaxter , yes that is a pretty good indication... congrats 👍
travisci also runs the examples as sort of a coverage test

[2016-10-27 08:46] jf--- commented on #30
hi @henrybaxter , have you been able to make some progress, can we help out perhaps? Curious to hear from you...

[2016-11-08 15:30] lalvarezt opened #36 "Upgrade in OCE to 6.9.1"
@tpaviot A few days ago there was an update on the OCE repo, upgrading OCCT to version 6.9.1. I compiled the code and it looks fine. I'm trying to update the generator, but there are some (a lot) of compile problems, I'm trying to fix them, if possible. When I have something new I'll let you know.

[2016-11-09 18:08] lalvarezt commented on #36
@tpaviot I updated the code and after some small changes, pythonocc-core compiles, I tested the examples and it looks normal, but I'm having some performance issues with the new library, don't know why. With the new library issue #139 of pythonocc-core is fixed. I'll post some pictures on the other repo.

[2016-11-09 21:20] jf--- commented on #36
@lalvarezt , so you've managed to generate wrapper for 6.9.1? wow, that does seem very promising...

[2016-11-10 13:54] lalvarezt commented on #36
@tpaviot I created a new PR that fixes some things that are necessary for wrapping the current master. Of course, the PR also fixes problems in the previous master.

[2016-11-11 20:08] lalvarezt commented on #36
@tpaviot I think I've got everything ready to generate the wrap, but first is necessary to apply a patch to OCE, after that the current generator with the latest updates should work without problems.

[2016-11-14 08:36] tpaviot commented on #36
@lalvarezt We use to adapt the python wrapper to oce, not the opposite. Indeed modifying oce may lead to incompatibilities with upstream. Remember that user should be able to switch from oce back/to occ as they want. We must ensure binary compatibility with oce and occ.

[2016-11-14 11:39] jf--- commented on #36
a stopgap measure can be that for the conda can also take a patch file
perhaps this is a way to move forward, while formal changes to OCE are made?

[2016-11-14 14:51] lalvarezt commented on #36
@tpaviot @jf--- I understand what you are saying, but the changes on the OCE repo are problems that needed to be fixed IMO. If you look at the changes you'll notice that there's even code that was missing for a function, that I had to add it from OCCT. For example the function ErrorStatus was missing in the BRepLib_CheckCurveOnSurface.lxx file.

[2016-11-14 15:27] lalvarezt opened #39 "Template Wrapping"
@tpaviot Currently template use in the OCE is a problem when wrapping with SWIG. On the current master this problem is minor. This could be a major problem when moving to OCCT 7 or higher, due to the new type refactoring, almost all classes are represented as templates.

From the doc:

"In order to wrap a template, you need to give SWIG information about a particular template instantiation (e.g.,

[2016-11-14 18:52] jf--- commented on #36
well, OCE 0.18 ( -> OCCT 6.9.1 ) is not released yet, officially...
why not be pragmatic, and create corresponding OCE branch, such to be able to move forward?
@lalvarezt your efforts are much appreciated and its good to have a better understanding to grasp where the friction occurs, so that's interesting...

when you mention that the `ErrorStatus` method was missing, is your diff from OCCT 6.9.1

[2016-11-14 19:14] jf--- commented on #39
I've worked with ITK which is a image processing library wrapped by swig, which uses templates extensively. It might provide an interesting analogy?

in the old days, the project used gccxml for parsing and has recently moved to it successor [castxml](https://www.youtube.com/watch?v=O2lBgtaDdyk). itk's wrapper generation code is [here](https://github.com/InsightSoftwareConsortium/ITK/tree/master/W

[2016-11-14 21:01] lalvarezt commented on #36
@jf--- @tpaviot  Yes ErrorStatus is missing in OCE 6.9.1 not in OCCT. I looked up the code and added it. I agree, binary compatibility is important, the changes are minor and don't interfere with that IMO.

[2016-11-14 21:02] tpaviot commented on #39
@lalvarezt I fully agree with you. Moving up the wrapper to the coming oce-0.18 (==occt691) is straight forward, there will be some minor issues that will easily be solved.

In a midterm, I'm a lot more concerned about the latest occt7 version. I'm aware of the major refactoring about the handles, with a intensive use of c++ templates. So far, I did not reallly dive into the wrapping of templates,

[2016-11-14 21:04] tpaviot commented on #39
@jf--- thanks for introducing castxml, I was not aware of that project. And ITK is certainly a good place to grab good ideas with SWIG and c++

[2016-11-14 21:10] lalvarezt commented on #39
@jf--- Any help is appreciated.

[2016-11-14 21:11] lalvarezt commented on #39
@jf--- Any help is appreciated.

[2016-11-14 22:33] jf--- commented on #36
@tpaviot , [this is the branch](https://github.com/lalvarezt/oce/tree/Minor_patches) of OCE being discussed

[2016-11-15 13:33] jf--- commented on #30
beta release [OCCT 7.1](https://dev.opencascade.org/index.php?q=node/1178) is here

[2016-11-15 17:09] henrybaxter commented on #30
Hi @jf--- I made some progress, I believe I committed it to my fork of this project, but then my work turned in a different direction and I've had to pursue other things. I'm still interested in working on this, but don't have time at the moment. Feel free to take over, kill this issue, or whatever else. I'll update/reopen this issue when I start working on it again. Sorry about that!

[2016-11-15 20:22] jf--- commented on #30
@henrybaxter , no worries 🐼

this was definitely not trying to spark a sense of guilt, rather the realization that perhaps we should consider OCCT 7.1 rather than 7.0.1 as our target

OCCT 7 saw pretty huge changes, which rarely goes without some rough edges here and there...
looking at the changes in 7.1 a lot of work has been accomplished

Personally, I'm very thrilled about the `AIS_Manipulator

[2016-11-22 04:21] jf--- commented on #36
Gents,

What is a logical next step?

- release OCE 0.18?
- @lalvarezt , you've built pythonocc-core with OCE 0.18, can you inform us to what extent tests / examples are passing?
- with OCE 0.18 released ( or at least a conda build ) at least we could see the status on TravisCI, which is important to advance the project
- I think it would be wise to release a 0.17.1 on short notice, considerable i

[2016-11-22 04:23] jf--- commented on #39
@lalvarezt , is there news on handling templates?
Perhaps we should focus on some design / experimental implementations to advance this topic.
Possible @rainman110 has an interesting outlook on the topic?

[2016-12-20 08:31] tpaviot commented on #39
@lalvarezt I started looking at the template issue. I just pushed the latest CppHeaderParser release (previous one had an error handling templates).

Templated class methods should don't be that hard to wrap.

Not the same for templated classes (for instance NCollection_*), it seems to be a bit more difficult.

IMO we should go step by step. The first one is to wrap templated methods with a predef

[2016-12-20 13:36] lalvarezt commented on #39
@tpaviot That's very good news, I was working with the latest CppHeaderParser release, that's why I didn't notice the error. Adding specialized types in the Modules.py it's a great idea.

[2017-01-23 13:51] trelau commented on #36
Does the master branch include any updates for wrapping OCE 0.18.0? I'm trying to get myself proficient with the pythonoocc build process and test out some surface intersection improvements in OCCT 6.9.1/OCE 0.18.0. I get a handful of the modules to compile with no problem, can get more to compile if I exclude some class methods (BRepBuilderAPI_FastSewing :: GetStatuses and BRepExtrema_OverlapTool

[2017-01-23 13:57] trelau commented on #30
This is a shot in the dark, but as I try and wrap my head around the pythonocc build process, is there any value at looking at other C++ binders like pybind11, particularly when moving towards OCCT 7? I'm not familiar with SWIG so I thought it might be worth asking before I march down that path. There supposedly are binding generators for pybind11, but I have no experience with them. Just a though

[2017-01-23 18:50] jf--- commented on #30
What particular advantage would pybind11 bring?
Thing is that when wrapping **vast** API's there are few tools that can do so as robustly as SWIG
At this point, to displace SWIG would take pretty dramatic arguments.
Could you give an example what super powers pybind11 would bring?

I know its a respectable project, but a core technology such as SWIG is not easily displaced.

[2017-01-23 18:54] jf--- commented on #36
hi @trelau , great initiative... so just to be clear; are you wrapping OCE 0.18 or OCCT 6.9.1?
that's pretty relevant info...

[2017-01-23 19:16] trelau commented on #36
OCE 0.18.0..the pre-compiled version for Win64 MSVC2015

[2017-01-23 19:24] trelau commented on #30
I'm not experienced with SWIG or pybind11, so no I can't offer any specific examples. I've just started to try and understand them both, and it seems like the interface code is a little more "readable" in pybind11. I just wanted to throw it out there in case you and/or other experienced developers thought it would be of value. With the overhaul of handles/templating in OCCT 7, I didn't know if the

[2017-01-23 21:26] tpaviot commented on #30
@trelau SWIG is being used since the beginning of the pythonocc project. So far, it has proven to be robust, and is quite stable from a release to the other. Unless there are things that are not possible with SWIG and possible with another tool (pybind, sip, ctypes or whatever) , I don't see any reason to make such a radical change in the pythonocc project. I still did not find time to move up to

[2017-01-23 21:43] trelau commented on #30
@jf @tpaviot Thanks for the feedback. My goal is to get proficient with the pythonocc process, but eventually take a crack at SMESH. I would love to have an integrated meshing tool. One reason I thought about pybind was that the netgen project is exposing more and more via pybind, so I wondered if there was a possibly to transfer shapes between pythonocc and netgen someday. Thanks again.

[2017-01-24 03:19] jf commented on #30
wrong person, @trelau

[2017-01-24 04:38] tpaviot commented on #30
@trelau the issue with wrapping smesh is smesh itself. smesh is not maintained anymore by its original creator (@sfotis). If you get a way to take the smesh version available FreeCad, and can compile it with oce-0.18, wrapping is just a game.

[2017-01-25 17:10] jf--- commented on #30
@trelau , @tpaviot , so maintaining SMESH is an effort indeed.
our friends at FreeCAD also [maintain SMESH](https://github.com/FreeCAD/FreeCAD/tree/d0dc4d10534ad0af29707cd72f55967ba58738cc/src/3rdParty/salomesmesh) so it would be interesting if the effort of maintenance can be shared.

[2017-02-09 13:34] aothms opened #40 "OCCT Voxel package"
Hi,

I grepped through Modules.py and it appears the Voxel package [1] is not wrapped. Just checking in whether there is a reason for this? I think manipulating this kind of data with `numpy.ndarray`s would be quite a thrill :)

[1] https://www.opencascade.com/doc/occt-6.9.1/refman/html/package_voxel.html

Kind regards,
Thomas

[2017-02-10 08:31] tpaviot commented on #40
@aothms I don't remember why it's not wrapped ;) Maybe because I failed to... I will try to investigate this

[2017-02-10 17:49] jf--- commented on #40
the numpy angle is interesting...
numpy would be great for working with meshes...

[2017-02-12 14:19] aothms commented on #40
Well, it turns out that (read) access to the underlying data structure is not really feasible/possible anyway. Calling `Voxel_DS::Get()` for every voxel is not likely going to be performant. In the end I wrote a small C++ app that voxelises the geometry. And a small Python code to parse the output of `Voxel_Writer`. Not a high priority issue imho.

[2017-02-13 15:38] jf--- commented on #40
@aothms, sounds like a perfect case for numpy?

[2017-02-14 09:14] aothms commented on #40
@jf---  Definitely, the output of `Voxel_Writer` is not a dump that numpy immediately understands, it is some sort of custom sparse format. But I have my voxels in a `numpy.ndarray(dtype=numpy.bool_)` now and it works like a charm :)

[2017-02-14 09:45] jf--- commented on #40
@aothms so there's a /contrib folder in pyocc which is a useful location for those rare cases where its more straightfwd to wrap a C++ implementation. If you feel like contributing this, that's probably the right place

[2017-02-27 13:26] aothms commented on #40
Ok, so it seems that the Voxel package was removed altogether from OCCT 7 [1] [2]. This in favour of their ``Volume rendering'' apparently. I didn't come across this, but perhaps they refer to their proprietary offerings [3]. Personally I think it's a shame, I mean, voxels are suitable for things beyond visualisation, like analyses that are simply not viable on a topological brep model. But anyway

[2017-02-27 13:26] #40 closed

[2017-02-27 20:14] trelau commented on #36
I was able to wrap OCE 0.18.0 after applying the patches [referenced above](https://github.com/lalvarezt/oce/tree/Minor_patches). I had to apply my own shown as screen shots below because I modified the headers of the pre-compiled versions for now..

Modify the Box() method
![oce_018_mod1](https://cloud.githubusercontent.com/assets/8950602/23377615/b381ab04-fcfe-11e6-8790-4c678f4b0798.JPG)

Includ

[2017-02-28 16:30] tpaviot commented on #36
The GLSL path is hardcoded in oce, certainly. I have to take a look at this. In the meantime, you can setup the CSF_ShadersDirectory environment variable to point to the right location.

[2017-05-07 05:38] tpaviot commented on #36
Fixed by PR #42

[2017-05-07 05:38] #36 closed

[2018-11-24 18:10] rainman110 commented on #28
You can use swigs factory feature, see
https://github.com/DLR-SC/tigl/blob/c62f4e0ebbc3ed9accbf46a2a51f21421ce590ed/bindings/python_internal/configuration.i#L406

[2018-11-28 09:47] tpaviot commented on #28
Fix suggested at https://github.com/tpaviot/pythonocc-core/pull/587

[2018-11-28 15:42] tpaviot commented on #28
Fixed.

[2018-11-28 15:42] #28 closed

[2018-11-29 14:01] tpaviot commented on #29
fixed by pr #48

[2018-11-29 14:01] #29 closed

[2018-11-30 17:16] alynch4047 commented on #28
Sorry about the late reply, this is great thanks Thomas

[2019-02-01 13:56] tpaviot opened #49 "Work In Progress: Expose OCCT 7.2.0"
Follow Issue #30. Related to https://github.com/tpaviot/pythonocc-core/issues/576

Issue dealing with the process of wrapping occt 7.2.0 using SWIG and expose related objects through pythonocc.

I'm currently being porting the pythonocc wrapper to occt 7.2.0 version. This requires many changes to both SWIG files (automatically generated using the pythonocc-generator project), and to most of the py

[2019-02-01 13:57] tpaviot commented on #30
Issue closed. Superseeded by #49

[2019-02-01 13:57] #30 closed

[2019-02-01 13:58] tpaviot commented on #39
See Issue #49

[2019-02-01 13:58] #39 closed

[2019-02-01 14:22] trelau commented on #49
awesome work. moving forward do you intend to keep OCE up-to-date or are you planning on just using the OCCT releases?

[2019-02-01 16:20] jf--- commented on #49
WOW! That's wonderful! So eager to delve into the generalized fused goodness!

[2019-02-01 19:55] rainman110 commented on #49
Wow... Great progress! Congratulations for this achievement.

@tpaviot I'll have a look at the handle wrapper and try to fix downcasting. I suppose, we just need some small adaptations.

[2019-02-02 07:04] tpaviot commented on #49
@trelau I plan to keep OCE up to date

Thank you @rainman110 maybe you should read the migration guide that contains information about handles  https://dev.opencascade.org/doc/overview/html/occt_dev_guides__upgrade.html#upgrade_700

[2019-02-02 23:42] rainman110 commented on #49
@tpaviot I think I know, why the downcasting is not working anymore.

Under the hood, swig manages all references to objects via their handles. When downcasting one object to another type, we were exploiting the inheritance chain of the handles. For example Handle(Geom_BSplineCurve) is inherited from Handle(Geom_Curve). Swig uses the inheritance type information to check, what handle types are all

[2019-02-04 22:04] rainman110 commented on #49
I think a narrowed down the problem and have a potential fix.

@tpaviot I cannot completely build you branch 7.x. There are still a couple of errors ( i am building on windows). So, can you already build it completely with your generated files?

[2019-02-05 04:49] tpaviot commented on #49
@rainman110 I only tested on Linux so far, still did not try on Windows. Usually, Windows comes with its bunch of compilation errors, and I have to remove classes/methods that fails from the Modules.py file. There are much less differences between Linux and osx

[2019-02-06 05:49] tpaviot commented on #49
@rainman110 No, it's this line:
[code]
If I remove it, everything goes right. It appeared after a change to generate_wrapper.py

I really have difficulties to work with SWIG warnings. They're not documented, not easy to know what to do to avoid them.

[2019-02-06 06:40] rainman110 commented on #49
@tpaviot Really? Everything works.

Then, windows is still an issue. Here we have they problem, that Handle(Something) is a different class than Handle_Something and swig won't convert between them right now. This is a visual c only thing and intended by the occt devs (see standard_handle.hxx). I am still looking into this.

[2019-02-06 08:54] tpaviot commented on #49
ok I see, indeed  ```Handle(Class)``` and Handle_* are different for msvc

[2019-02-06 09:29] jf--- commented on #49
Would it be straightfwd that the warnings bubble up depending on a environment variable?

[2019-02-08 19:58] adam-urbanczyk commented on #49
@tpaviot  great work! Can't wait to try it out.

[2019-02-12 16:45] tpaviot commented on #49
@rainman110 I updated both the generator and the wrapper, in a simpler way. There's no need to modify the OccHandle.i script anymore, and Downcasting works as expected (on Linux)

[2019-02-12 16:46] rainman110 commented on #49
@tpaviot Great! Well done.

I'll see, what I can do for Windows. Unfortunately, It might take a while until I find the time.

[2019-02-13 08:32] rainman110 commented on #49
@tpaviot Can you please commit the changed code to pythonocc-core to branch wip/occt7x-support?

[2019-02-13 08:41] tpaviot commented on #49
@rainman110 I already did it. I use to push -force to this branch. fetch your local copy and reset the wip/occtx-support to origin/wip/occt7x-support to have latest changes.

[2019-02-13 09:24] rainman110 commented on #49
@tpaviot Ah okay... did not see that!

[2019-07-04 13:59] Trophime commented on #49
Any update on this?

[2019-11-01 23:00] rainman110 opened #50 "Improvement: Modularize headers into jumbo header files"
Currently, all headers including all dependencies are put into swig header files. This looks e.g. like:
[code]

This is not very modular. Assume, one of the gp_XXX includes has to be changed, it has to be done in all *_header.i that include the gp module.

My proposal is, to put all headers of one module in one jumbo header. For the gp module, we create a header gp_module.hxx:
[code]

Then, the gp

[2019-11-02 03:56] tpaviot commented on #50
This is a good idea. This will result in smaller interface files, and at some point make the *_headers.i useless. The PCH argument is convincing as well.

[2019-11-03 00:03] rainman110 commented on #50
@tpaviot If you like, I'll work on it and then make a PR.

[2019-11-03 10:14] rainman110 opened #52 "Improvement: Make runtime issues to compile time errors"
I thought about this a while. I'd really like to make sure, that the issues you had memory wise should be catched already at compile time. I found a very simple solution to it:

In the arguments of the swig headers, we don't use opencascade::handle<XXX>. Instead we use a new unknown type e.g. OccHandle_XXX. This type is only known, if it was defined in the other module.

A concrete example:

BRepB

[2019-11-03 16:03] rainman110 opened #53 "OCCT 7.4.0: Missing package XCAFNoteObjects"
https://www.opencascade.com/doc/occt-7.4.0/refman/html/package_xcafnoteobjects.html

[2019-11-03 16:28] tpaviot commented on #53
see https://github.com/tpaviot/pythonocc-core/commit/f6c657e782554acc7e85e5f20109dd19d2104b45 for generated files

[2019-11-03 16:59] #53 closed

[2019-11-03 17:01] rainman110 commented on #52
Using this technique, I already found many missing imports. I'll try to make compiling successful, then I send you a list of missing imports.

I also found some cyclic imports, e.g. in standard.i. we probably need a better way to determine module dependencies.

[2019-11-03 21:09] rainman110 opened #54 "OCCT 7.4.0: Missing package IGESToBRep"
https://www.opencascade.com/doc/occt-7.4.0/refman/html/package_igestobrep.html

[2019-11-03 21:20] rainman110 opened #55 "Bug: Wrong position of %wrap_handle"
In e.g. StepShape.i, some %wrap_handle(xxx) come too late. All %wrap_handle calls must be in front of the first class declaration.

[2019-11-04 08:25] rainman110 opened #56 "OCCT 7.4.0: Missing package MoniTool"
https://www.opencascade.com/doc/occt-7.4.0/refman/html/package_monitool.html

[2019-11-04 09:06] #54 closed

[2019-11-04 14:02] tpaviot commented on #55
Interface files were updated on the pythonocc-core side (see https://github.com/tpaviot/pythonocc-core/commit/1d7982b06a1a6fc0aa05baa39a490eb317498bb3). However, there's not any difference at compilation time, what about runtime ?

[2019-11-04 14:35] rainman110 commented on #55
I am working on it. It requires many new imports. Takes a while to go through it manually.

[2019-11-04 14:51] rainman110 commented on #55
@tpaviot What I am currently working on is the following:

I renamed all opencascade::handle<xxx> occurences to OccHandle_XXX. This OccHandl_XXX is defined in %wrap_handle.

Therefore, to successfully compile the module, the wrap_handle of a class must be imported. This way, you can make sure to not forget any import related to handles.

[2019-11-04 14:53] rainman110 commented on #55
IMHO, failing early (at compile time) is much better than failing at runtime (at some user).

It requires too many tests to check all of these problems at runtime.

[2019-11-04 15:28] rainman110 opened #57 "OCCT 7.4.0: Missing package IMeshTools and IMeshData"
https://www.opencascade.com/doc/occt-7.4.0/refman/html/package_imeshtools.html
https://www.opencascade.com/doc/occt-7.4.0/refman/html/package_imeshdata.html

[2019-11-04 15:33] rainman110 opened #58 "OCCT 7.4.0: No handle detected for class BRepMesh_DataStructureOfDelaun"

[2019-11-04 15:36] rainman110 opened #59 "OCCT 7.4.0: No handle detected for class BRepMesh_VertexTool"
It is derived from Standard_Transient and therefore must be wrapped in a handle.

[2019-11-04 17:49] rainman110 opened #60 "Update correct module dependecies"
I used the whole day to figure out the correct dependencies. Please find attached the following file.
[dependencies.txt](https://github.com/tpaviot/pythonocc-generator/files/3805359/dependencies.txt)

[2019-11-04 17:50] tpaviot commented on #58
Indeed a *lot* of handles are missing. There's an issue in the generator with detecting Standard_Transient as the base class.

[2019-11-04 17:53] tpaviot commented on #59
Yes, I realize that classes the inherit from Standard_Transient are not detected anymore by the generator. There are hundreds of such cases, no need to open an issue for each one

[2019-11-04 18:00] tpaviot commented on #60
Great work, very interesting. What do you exactly call a "correct dependency", i.e. how did you build this oriented graph ? Indeed, according to the definition, one can consider that Standard depends upon TCollection and TCollection depends on Standard as well, which is not the case in your document, and which create circular dependencies between python modules.

[2019-11-04 18:24] rainman110 commented on #60
These are the minimum requirements how to make handles work correctly. I figured it out as written in some of the other issues. In practice, I simply added dependencies until I could compile everything.

So, if there occurs a Handle(geom...), the geom model is obviously required.

I did not look for circular dependencies though. Also did not try get to load modules. These are the minimum requireme

[2019-11-04 21:41] rainman110 commented on #60
So... There are definitely some circular dependencies making problems. The question is, how to untie them.

[2019-11-04 21:48] rainman110 commented on #60
The smallest cycles are:

[code]
and
[code]

[2019-11-05 07:50] rainman110 commented on #60
- In the first case, the best way to resolve the cycle is to drop the dependency of graphic3d from select3d. there are just two functions involved.

[2019-11-05 08:18] tpaviot commented on #60
Yesterday, I tried something : removing all imports from Graphic3d (at the end of the interface file, all the import Something.i). Of course it works and break the circular references between all these packages. I will try your suggestion. If it's ok, then let's go that way.

On the midterm, if circular references become a stronger issue, it may become necessary to create a single GraphicStuff.i i

[2019-11-05 08:19] tpaviot commented on #60
@rainman110 btw, what's the code to draw the graph ? I guess you've been using networkx but I didn't practice this package for a while

[2019-11-05 08:25] rainman110 commented on #60
@tpaviot  No, used used the dot tool. It's standard on linux/maxOS. You can directly throw in the dependencies.txt into the tool.

[2019-11-05 09:23] rainman110 commented on #60
If we remove the class ```StepRepr_ReprItemAndMeasureWithUnitAndQRI``` we solve the circular dependency as well.

[2019-11-05 10:08] tpaviot commented on #60
Tested with Graphic3d. I pushed a change to the generator and updated interfaces files as well see

[2019-11-05 11:54] #59 closed

[2019-11-05 11:54] rainman110 commented on #59
Fixed

[2019-11-05 11:54] rainman110 commented on #58
Fixed

[2019-11-05 11:54] #58 closed

[2019-11-05 11:55] rainman110 commented on #57
Fixed

[2019-11-05 11:55] #57 closed

[2019-11-05 11:55] rainman110 commented on #56
Fixed

[2019-11-05 11:55] #56 closed

[2019-11-05 11:55] rainman110 commented on #60
Fixed

[2019-11-05 11:55] #60 closed

[2019-11-05 11:57] rainman110 commented on #55
This is not yet fixed in the generator! There are still wrap_handles for the H-Classes, e.g. %wrap_handle(StepShape_HArray1OfShapeDimensionRepresentationItem) at the bottom of StepShape.i

[2019-11-05 12:08] rainman110 commented on #55
I fixed it locally. Shall I make a PR?

[2019-11-05 12:27] tpaviot commented on #55
No need for a PR, I cherry-picked it. Thank you.

[2019-11-05 13:01] #55 closed

[2019-11-05 14:24] rainman110 commented on #50
@tpaviot Here's a first implementation. Everything compiles. Obviously, another include_directory has to be put into the CMakeLists.txt to make everything compile.

https://github.com/rainman110/pythonocc-generator/commit/1fe0111d2ae28428a75301dcdbb2efe69be6143b

[2019-11-07 14:55] rainman110 opened #62 "Missing TopoDS_Shape constructor"
At the moment, there is no way to create an empty TopoDS_Shape. This is however required in some cases.

Therefore, the disabled constructor has to be enabled again (see Modules.py=

[2019-11-07 15:19] tpaviot commented on #62
Right, it was removed (I don't remember why), but is widely used in the examples section. It has to come back.

[2019-11-07 15:27] rainman110 commented on #62
I know already, why you removed it. It pulls in two constructors. One with a template argument, which is not put correctly into the swig input file. Hence, you'll get compilation errors.

It would be nice to be able to exactly specify, which methods to prune when there are multiple versios of one method.

[2019-11-07 15:54] tpaviot commented on #62
Currently all methods names that are excluded, there's no way to choose if we can keep some of them.

Ugly hack at 9034dc5. But that works (tested)

[2019-11-08 06:10] tpaviot commented on #50
@rainman110 I'm not sure gl2ps is still necessary. I noticed the all Graphic3D_EF_PDF or Graphic_3d_EF_PS have been removed, I think gl2ps support is dropped in 7.4 see https://dev.opencascade.org/index.php?q=node/1209

[2019-11-08 06:11] tpaviot commented on #50
```grep 'gl2ps' -r . *``` does not give any result, whether it is in ```/src``` or ```/include``` folders.

[2019-11-08 06:14] rainman110 commented on #50
Good catch. I'll remove it.

[2019-11-08 14:18] #62 closed

[2019-11-11 14:54] rainman110 opened #63 "OCCT 7.4.0: BRepMesh_Delaun.hxx must be first BRepMesh header file"
Otherwise, I get a compiler error on linux. Is there a possibility to modify include order?

[2019-11-11 15:53] tpaviot commented on #63
Header includes are ordered using an alphabetical sort. Just to know, which os/compiler do you use ?

[2019-11-11 15:54] tpaviot commented on #63
and what kind of error is raised by the compiler ?

[2019-11-11 15:57] rainman110 commented on #63
gcc 4.8.5. The problem is, that a header - BRepMesh_BaseMeshAlgo - uses BRepMesh_Delaun before including it. This is an OCCT issue. I get the following error:
[code]

[2019-11-11 15:59] rainman110 commented on #63
How do you write class definitions into swig files?

Here, you also have to take care for class definition order, right? This could be used to correctly define header include order as well.

[2019-11-11 16:11] tpaviot commented on #63
Class definitions are processed/written to interface file from the inheritance hierarchy. First bases classes, then classes that inherit from the previous one and so one. This is why only classes with single inheritance are taken into account.

For the BRepMesh_Delaun.hxx issue, I will manually add it to the top list of headers, it's the same for the <windows.h> header to be included in AddApp2Var

[2019-11-11 16:17] tpaviot commented on #63
Fixed by commit a5c7748265bed85db72af897161c6b0d463c09d6

[2019-11-11 16:33] rainman110 commented on #63
The same is also required for the XBRepMesh package. It also includes BRepMesh stuff in the wrong order.

[2019-11-11 16:41] tpaviot commented on #63
so what's the correct order of headers in this package ?

[2019-11-11 16:50] rainman110 commented on #63
The same. BrepMesh_Delaun first.

[2019-11-13 21:48] #63 closed

[2019-11-14 12:12] rainman110 opened #64 "OCCT 7.4.0: Fix windows compilation again"
- [x] Remove RWMesh module
 - [x] From class Graphic3d_BvhCStructureSe, remove methods
    - Clear,
    - GetStructureById
    - constructor Graphic3d_BvhCStructureSet
    - Remove
 - [x] From Module BRepMesh remove all *RangeSplitter classes
 - [x] Remove RWGltf_CafReader::RWGltf_CafReader
 - [x]  From class RWGltf_GltfLatePrimitiveArray remove methods
     - RWGltf_GltfLatePrimitiveArray
     -

[2019-11-14 12:13] rainman110 commented on #64
@tpaviot I'll do this.

[2019-11-14 14:59] tpaviot commented on #50
Code was updated on the pythonocc-core side see https://github.com/tpaviot/pythonocc-core/commit/4ccfc681d992a09159d195206519695c160e2309 and https://github.com/tpaviot/pythonocc-core/commit/ada5ebcaaf4547410af64b988a702b0b5bad0ba2

[2019-11-14 15:00] rainman110 commented on #50
Great 😄

[2019-11-14 15:01] tpaviot commented on #50
You were right @rainman110 , this is definitely a good solution. There's one single interface file per occ package. Now I'll try to get precompiled header work, using the cotire cmake extension or the new cmae UNITY_BUILD feature (https://cmake.org/cmake/help/latest/prop_tgt/UNITY_BUILD.html#prop_tgt:UNITY_BUILD)

[2019-11-14 15:34] #50 closed

[2019-11-14 15:35] tpaviot commented on #49
Outdated. pythonocc-core now targets opencascade 7.4.0

[2019-11-14 15:35] #49 closed

[2019-11-15 10:14] rainman110 opened #67 "OCCT 7.4.0: BRepAlgoAPI must import BRepBuilderAPI"
Otherwise, methods as IsDone() or not defined.

[2019-11-15 10:14] #64 closed

[2019-11-15 10:16] rainman110 commented on #67
Is there are way to hard-code this dependency?

[2019-11-15 10:23] rainman110 commented on #67
@tpaviot Fixed this in the generator. Just need a regeneration.

[2019-11-15 10:25] rainman110 opened #69 "Remove operating system header information in wrapper files"
The problem is, that depending on the computer, all wrapper files will be marked as changed and will have changed this line, even if everything else is the same.

This makes it IMHO impractical for version control.

A alternative would be a separate text file that contains the metadata,

[2019-11-15 11:14] tpaviot commented on #67
@rainman110 I'm not comfortable with this fix. The issue is that the ```BRepAlgoAPI_Algo``` class has 2 ancestors, and is skipped by the wrapper. I prefer thinking about a fix related to multiple inheritance.

[2019-11-15 11:17] rainman110 commented on #67
Sure... I prefer also a more general solution

[2019-11-15 11:17] tpaviot commented on #69
For the same reason, I already removed the timestamp.

A separate text is a good option, it could include as well the console output from the generator.

[2019-11-15 12:14] rainman110 commented on #67
What about this: The main issue wrt to multiple inheritance is to  get the "right" order.

From a computer scientist point of view, the dependencies form a directed acyclic graph (DAG). What we need then, is a topological sort of this dag such that a class is defined before it is referenced first.

Instead of sorting on our own, we can use something like this:
https://pypi.org/project/toposort/

[2019-11-15 12:32] rainman110 commented on #67
I have made a working proof of concept!

[2019-11-15 12:45] tpaviot commented on #67
@rainman110 Something similar is already implemented in the generator. No "DAG" or "topological sort" but a kind of. It's in the ```build_inheritance_tree``` see https://github.com/tpaviot/pythonocc-generator/blob/master/src/generate_wrapper.py#L1212

[2019-11-15 12:57] rainman110 commented on #67
I have seen it already! This is limited on single inheritance though, right? I replaced most of this code with toposort and it works really nice.

[2019-11-15 13:11] tpaviot commented on #67
I also have a fix, adding only a few more lines. If we can do the same without any additional dependency, it's better.

[2019-11-15 13:13] rainman110 commented on #67
No problem. I found a new problem though in the cppparser itself. It cannot parse correctly the class ```BOPTools_BoxSelector``` due to the list in the template arguments.

[2019-11-15 13:14] tpaviot commented on #67
opencascade mostly uses single inheritance, only about ten to twenty classes have 2 ancestors.

[2019-11-15 13:27] tpaviot commented on #67
I applied the fix, regenerating the swig files, compilation is building. I'll push when I'm sure everythong compiles

[2019-11-15 19:51] tpaviot commented on #67
interface files were also updated

[2019-11-16 05:44] tpaviot commented on #67
@rainman110 I see the issue you opened on the robotpy/cppheaderparser repository, good point. It's a good news that this package was forked and is maintained by another dev team. Although it suffers from many drawbacks and lacks, it's currently the best tool I found to be used by the pythonocc generator. I started with gccxml 10 years ago, it was more than one hour to parse every occ headers. Now

[2019-11-18 09:59] rainman110 opened #71 "OCCT 7.4.0: Missing function TDF_Labl::FindAttribute"
Thus function is required for some OCAF demos and is a very useful function in general.

I think it was removed due to the template argument.

I'll check, what I can do with it.

[2019-11-18 10:23] rainman110 opened #72 "OCCT 7.4.0: TDF_Tool is empty"
It seems to be ignored by swig.

[2019-11-18 11:16] rainman110 commented on #72
Sorry for the noise, was my fault!

[2019-11-18 11:16] #72 closed

[2019-11-18 12:24] rainman110 commented on #67
Is fixed by b979afbd47cfe0cca51b

[2019-11-18 12:24] #67 closed

[2019-11-28 05:40] #71 closed

[2019-11-28 05:40] #69 closed

[2019-11-28 05:42] tpaviot opened #73 "Make a clean wrapper for Standard_OStream&"
indeed many Dump* methods use this type. Currently methods are renamed to DumpToString or DumpJsonToString, something generic has to be done, without renaming the method.

[2020-09-04 10:56] Vanuan opened #80 "Reuse potential"
I'm wondering how complex would it be to reuse the generator approach for other C++ libraries?

For example pivy.coin3d: https://github.com/coin3d/pivy/issues/71

If you started from scratch, would you go with it again? Or would you rather push for more advanced SWIG support?

How time consuming is it compared to manual coding?

[2021-10-21 11:42] cafhach commented on #80
My impression is that the code is pretty OpenCASCADE-specific so I don't think there's a lot of potential

[2022-04-22 10:55] Krande opened #84 "Bindings for OCCT 7.6"
Hi,

In an effort to (hopefully) help with adding support for OCCT version 7.6.1 (and also learn a bit more of the build process of pythonocc-core in general) I just wanted to share my attempts at recreating the SWIG bindings to support OCCT v7.6.1.

## General platform and software version info:

* Attempted compilation on Windows 11
* Python 3.10
* OCCT version:  7.6.1                h8294837_0

[2022-04-24 13:53] Krande commented on #84
Here's an update.

By building on the latest work by trelau in his [pybinder project](https://github.com/trelau/pybinder/tree/supported_parameter_checks) I found the necessary excludes to remove the previous  errors related to `OSD_Streambuffer`.

So now it runs a lot further before failing due to errors seemingly arbitrarily relating to `BRepAdaptor`, `Adaptor2d_OffsetCurve` and `Bnd_Box2d` depen

[2022-08-10 07:46] Krande commented on #84
Hey, I took another stab at making modifications for the generator to work with OCCT v7.6, and have now gotten a bit further.

Now I am reaching almost 50% of the compilation of pythonocc-core for occt v7.6.2 by basically of adding/removing headers and skipping various function members etc..

However, I am running into an issue that I am unable to solve using tricks that seems to have worked until

[2022-08-10 10:15] aothms commented on #84
It seems this has been fixed at some point in OCCT upstream where the header is included https://github.com/Open-Cascade-SAS/OCCT/commit/7109a4ae5843002ea7a35ed2b5aafba7ccef13d4#diff-89e4ed09db4b90a88f132a00171a3172f26279c2269e97c6861f90f75c595246

Didn't take the time to figure out what tags include this commit. Maybe 7.6.3 🙏 ?

[2022-08-10 10:25] Krande commented on #84
@aothms Thank you for the quick response! As a matter of fact I just now figured out what was wrong in my attempt at solving this.

I was adding the headers in the wrong file `Contap.i` instead of in `HLRTopoBRep.i` (which is what the error actually was telling me).

I just missed completed where it actually failed:  `FAILED: CMakeFiles/_HLRTopoBRep.dir/bin/HLRTopoBRepPYTHON_wrap.cxx.obj`

So the

[2022-08-10 11:20] aothms commented on #84
Great, still a bit of a bug though that they resolved, headers should include the headers they depend on.

[2022-08-10 11:36] Krande commented on #84
Yes, I see there is a 7.6.3 Tag, but I'll run through all of it using 7.6.2 to find other issues first.

Here's another issue.

There is a specific pythonocc-core class `ShapeTesselator` that seems to point to `Nodes()` and `UVNodes()` methods on Poly_Triangulation that are no longer available in 7.6:

__Poly_Triangulation does no more provide access to internal array structures: methods Nodes(),

[2022-08-10 11:50] aothms commented on #84
I think you can follow what IfcOpenShell does

https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.7.0/src/ifcgeom_schema_agnostic/IfcGeomRepresentation.cpp#L154-L156

[code]

(untested)

[2022-08-10 12:04] Krande commented on #84
Thanks for the tip!

But I think I might have found a workaround with limited impact on the existing code base using

[code]

I guess I'll find out eventually if my hacks and workarounds does/does not break things!

[2022-08-11 10:37] Krande commented on #84
A new day, a little progress and another issue :)

I ran into an issue with wrapping an `enum` today when compiling the `RWGltf` module.

[code]

The offending enum definitions in [RWGltf.i](https://github.com/Krande/pythonocc-core/blob/v7.6.2a1/src/SWIG_files/wrapper/RWGltf.i):

[code]

And definitions in [RWGltf.pyi](https://github.com/Krande/pythonocc-core/blob/v7.6.2a1/src/SWIG_files/wrapper/R

[2022-08-11 14:22] Krande commented on #84
Okay, I am happy to report that pythonocc-core now compiles successfully on all 3 platforms!

In fact, to my surprise all tests are passing on `windows`. The excitement was short lived however. It seems bld.bat and build.sh are not testing the same things on my branch.

Both Linux and OSX do pass a lot of tests, but are failing somewhere in the `core_geometry_unittest.TestGeometry` suite.

![image

[2022-08-13 09:44] aothms commented on #84
Wonderful progress!

[2022-08-14 12:20] tpaviot commented on #84
Thank you @Krande for your work, and sorry for being off for a few months after I took a new job position. I updated the generator to deal with occt7.6.2 headers. Just a few words regarding your commits: there's no need to create a specific swig_modifier for each occt version. Indeed related changes may be needed in future versions, and adding new headers on top of swig files does not create any b

[2022-08-14 12:20] tpaviot commented on #84
and thank you @aothms for your pointer to the ifcopenshell cpp code

[2022-08-14 12:26] tpaviot commented on #84
@Krande the next step is to check/update the pythonocc-demos to the new version.

[2022-08-14 12:35] Krande commented on #84
@tpaviot Just happy to help, and thank you for the feedback!

Regarding the changes I made to the `generate_wrapper.py`. I agree with your comments. My changes was primarily intended to increase my own familiarity with the SWIG generator process and was never intended to replace the current code base.

[2022-08-15 07:33] tpaviot commented on #84
changes for occt762 have been merged into master, pythonocc-core 7.6.2 compilation and tests work fine

[2022-08-15 07:40] Krande commented on #84
That's great!

Then I think we can close this issue.

[2022-08-15 07:40] #84 closed